{% extends 'layout.twig' %}

{% block content %}
{% for image in paginator %}
<div class="row photo">
    <div class="col-md-12 col-sm-12 text-center">
        <a href="/day/{{ image.day }}"><img src="{{ image.featureSize.source }}" class="img-responsive img-thumbnail text-center" /></a>
        <p class="text-muted">
            <em><a href="/day/{{ image.day }}">{{ image.posted|date("d F Y") }}:</a> Day {{ image.day }}</em>
        </p>
    </div>
</div>
{% else %}
<p>No images in project</p>
{% endfor %}

{% if pages.pageCount %}
<div class="text-center">
    <ul class="pagination">
        <li{% if pages.previous is not defined %} class="disabled"{% endif %}>
            {% if pages.previous is not defined %}
            <span>Prev</span>
            {% else %}
            <a id="previous-day" href="{{ baseUrl() }}/page/{{ pages.previous }}">Prev</a>
            {% endif %}
        </li>

        {% for page in pages.pagesInRange %}
        <li{% if page == pages.current %} class="active"{% endif %}><a href="{{ baseUrl() }}/page/{{ page }}">{{ page }}</a></li>
        {% endfor %}

        <li{% if pages.next is not defined %} class="disabled"{% endif %}>
            {% if pages.next is not defined %}
            <span>Next</span>
            {% else %}
            <a id="next-day" href="{{ baseUrl() }}/page/{{ pages.next }}">Next</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/js/keyboard-navigation.js"></script>
{% include "includes/addthis.twig" %}
{% endblock %}
