<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if image is defined %}
            <meta name="description" content="{{ (image.description) ? image.description : profile.tagline }}">
        {% else %}
            <meta name="description" content="{{ profile.tagline }}">
        {% endif %}
        <meta name="author" content="Jeremy Kendall">
        {% block meta %}
        {% endblock %}

        <link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
        <link rel="alternate" type="application/rss+xml" title="{{ profile.site_name }}" href="{{ baseUrl() }}/feed">

        <title>{% block page_title %}{{ profile.site_name }}{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/css/bootswatch.com.cyborg.bootstrap.min.css">
        <link rel="stylesheet" href="/css/flaming-archer.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">{{ profile.brand }}</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        {% for link in navigation %}
                        <li class="{{link.class}}"><a href="{{link.href}}">{{link.caption}}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <div class="container">
            {% if home is defined  %}
            {% if home %}
            <div id="banner">
                <div class="col-lg-12">
                    <h1>{{ profile.site_name }}</h1>
                    <p class="lead">
                        {{ profile.tagline }}
                    </p>
                </div>
            </div>
            {% endif %}
            {% endif %}

            <div class="row photos">
                {% block content %} {% endblock %}
            </div>

            <div class="footer">
                <p class="text-muted credit">
                    Photos copyright &copy; <a href="{{ profile.external_url }}" target="_blank">{{ profile.photographer }}</a>.
                    <span class="pull-right">
                        <a href="https://github.com/jeremykendall/flaming-archer" target="_blank">View source</a> on GitHub.
                    </span>
                </p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>

        {% block javascript %} {% endblock %}

        {% if ga is defined %}
        {% include "includes/google-analytics.twig" with { 'trackingId': ga.trackingId, 'domain': ga.domain } %}
        {% endif %}
    </body>
</html>
